.jumbotron {
    background-image: url('skills_session/resources/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;

}

h1{
    font-family: 'Major Mono Display';
    font-size: 4rem;
}

li {
    text-decoration: none;
}
li:hover {
    background-color: #EAA7A3;
}

html {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

form {
    position: relative;
    top: 100px;
    font-family: 'Raleway';
    font-size: 1rem;
}
