.jumbotron {
    background-image: url('/skills_session/resources/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

h1{
    font-family: 'Major Mono Display';
    font-size: 4rem;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
